:root {
    --pry-color: #71BF44;
    --sec-color: #58585A;
	  --font: 'poppins', sans-serif;
    --font-bold: 'poppins-bold', sans-serif;
    --font-smbold: 'poppins-semibold', sans-serif;
    --font-medium: 'poppins-medium', sans-serif;
    --font-light: 'poppins-light', sans-serif;
    --font-xbold: 'poppins-xbold', sans-serif;

    width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: rgba(141, 198, 63, 0.8);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(141, 198, 63, 0.4);
}

html {
  scroll-behavior: smooth;
}

.__nuxt-error-page {
  z-index: 1;
}

body {
	font-family: var(--font);
	height: auto;
  min-height: 100vh;
  background-color: white;
  color: black;
  font-size: 18px;
  /* line-height: 26px; */
}
h1, h2, h3, h4{
    font-family: var(--font-light);
    letter-spacing: -2px;
}
h5, h6{
    font-family: var(--font-light);
    letter-spacing: -1px;
}

.pad0{
    padding: 0 !important;
}
.pad-l-0{
    padding-left: 0 !important;
}
.pad-r-0{
    padding-right: 0 !important;
}
.hidden{
    display: none;
}
.reg-txt{
    font-family: var(--font);
}
.smbold-txt{
    font-family: var(--font-smbold);
}
.bold-txt{
    font-family: var(--font-bold);
}
.xbold-txt{
    font-family: var(--font-xbold);
}
.light-txt{
    font-family: var(--font-light);
}
/* .xlight-txt{
    font-family: var(--font-xlite);
} */
.pry-font{
    font-family: var(--font);
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.text-justify{
    text-align: justify;
}
.pry-color{
    color: var(--pry-color);
}
.sec-color{
    color: var(--sec-color);
}
.pry-bg{
    background-color: var(--pry-color);
    color: white;
}
.sec-bg{
    background-color: var(--sec-color);
    color: #161616;
}

.white-bg{
    background-color: white;
    color: black;
}
.white-txt{
    color: white !important;
}
.black-txt{
    color: black !important;
}
.black-bg{
    background-color: black;
    color: white;
}
.sm-black-bg{
    background-color: #1C1C1C;
    color: white;
}
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.hidden-xs{
    display: block;
}
.visible-xs{
    display: none;
}
.hidden-xs-sm{
    display: block !important;
}
.visible-xs-sm{
    display: none !important;
}
.flex-div{
    display: flex;
    align-items: center;
}
.justify-content-btw {
    justify-content: space-between;
}
.mag-0{
    margin: 0 !important;
}
.mag-bottom-0{
    margin-bottom: 0 !important;
}
.mag-top-0{
    margin-top: 0 !important;
}
.pointer {
    cursor: pointer;
}
.hover-scale {
    transition: all 1.5s !important;
}
.hover-scale:hover {
    transform: scale(1.1);
}
img {
    max-width: 100%;
}

/**** Some Home Styles ****/
#home {
    background-color: #EAEAEA;
    color: black;
    /* height: calc(100vh - 80px);
    min-height: 600px; */
    padding-bottom: 50px;
}
#home > .row {
    margin-bottom: 0;
}
.home-cont-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: center;
}
h2.section-title {
  font-size: 64px;
  font-family: var(--font-smbold);
  letter-spacing: -0.02em;
  color: var(--sec-color);
}
@media(max-width: 992px) {
  .home-cont-grid {
    grid-template-columns: 100%;
  }
}
@media(max-width: 600px) {
  h2.section-title {
    font-size: 45px;
  }
  #home h2.section-title {
    margin-top: 20px;
  }
  .home-img-side {
    grid-area: 1;
    margin-top: 20px;
  }
}
/**** end of Some Home Styles ****/

/**** Vision Section ****/
section#vision {
  position: relative;
  padding: 30px 0 20px;
}
section#vision::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background-color: #EAEAEA;
}
section > .row {
  margin-bottom: 0;
}
.section-header {
  max-width: 890px;
  border-left: 0.5px solid #979797;
  padding-left: 30px;
  position: relative;
}
.section-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: -1.5px;
  top: 0;
  border-left: 3px solid #85BF42;
}
.vision-img-wrapper {
  margin-top: 60px;
  margin-bottom: 170px;
}
.the-gap-we-fill.center {
  position: absolute;
  width: 60%;
  background: #ffffff;
  padding: 5px 30px 30px;
  margin: auto;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

@media(max-width: 992px) {
  .the-gap-we-fill.center {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .vision-img-wrapper {
    margin-bottom: 0;
  }
  .the-gap-we-fill.center {
    width: 90%;
    position: relative;
    left: 0;
    transform: none;
    top: -70px;
  }
}
/**** end of Vision Section ****/

/**** Objectives Sections ****/
section#objectives {
  position: relative;
}
/* section#objectives::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('../images/objectives-1.jpg') no-repeat center;
} */
ul.obj-list {
  margin-right: 50px;
  font-size: 18px;
  line-height: 25px;
  margin-top: 40px;
}
.obj-list li.flex-div {
  padding: 10px 0;
  align-items: flex-start;
}
img.list-tick {
  margin-right: 20px;
}
span.obj-list-txt {
  position: relative;
  top: -4px;
}
/* .objectives-txt-side {
  width: 50%;
  float: right;
  padding: 5px 50px 20px;
} */
.objectives-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.objectives-img-block {
  display: none;
  height: 100%;
}
/* .objectives-img-block.active {
  display: block;
} */
img.objectives-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
}

@media (max-width: 600px) {
  .objectives-wrapper {
    grid-template-columns: 100%;
  }
}

/**** end of Objectives Sections ****/

/**** SDG-Impact Section ****/
section#sdg-impact {
  background-color: #EAEAEA;
  padding: 80px 0;
}
.sdg-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  align-items: center;
}
img.sdg-img {
  width: 90%;
}

@media (max-width: 600px) {
  section#sdg-impact {
    padding: 0 0 60px;
  }
  .sdg-wrapper {
    grid-template-columns: 100%;
    grid-gap: 30px;
  }
  img.sdg-img {
    width: 100%;
  }
}
/**** end of SDG-Impact Section ****/

/**** Targeted-Reach Sections ****/
section#targeted-reach {
  padding: 70px 0 50px;
  /* background: #f7f7f7; */
}
.target-wrapper.flex-div {
  justify-content: space-between;
}
.africa-img-wrapper {
  width: 50%;
}
.targeted-reach-txts {
  width: 40%;
  min-width: 430px;
}
section#targeted-reach .section-title {
  margin-bottom: 30px;
}
.target-locations-block.flex-div {
  align-items: flex-start;
  padding: 15px 0;
}
.leagacy-locations-details {
  font-size: 15px;
}
.ll-title {
  font-size: 18px;
  font-family: var(--font-bold);
  line-height: 1;
}
.gray-div .ll-title {
  color: #58585A;
}
.blue-div .ll-title {
  color: #286AA6;
}
.green-div .ll-title {
  color: #85BF42;
}
.orange-div .ll-title {
  color: #E46D3A;
}

@media(max-width: 992px) and (min-width: 601px) {
  .africa-img-wrapper {
    width: calc(100% - 50px);
    padding-right: 50px;
  }
  .targeted-reach-txts {
    width: 100%;
    min-width: inherit;
  }
}

@media(max-width: 600px) {
  .target-wrapper.flex-div {
    flex-direction: column;
  }
  .africa-img-wrapper {
    width: 100%;
  }
  .targeted-reach-txts {
    width: 100%;
    min-width: inherit;
  }
}
/**** end of Targeted-Reach Sections ****/

@media(min-width: 601px) {
    .container {
        width: 90% !important;
    }
    .pr-0-sm {
        padding-right: 0 !important;
    }
    .pl-0-sm {
        padding-left: 0 !important;
    }
}
@media(max-width: 992px){
    nav.scrolled-nav.main-nav {
        height: 75px;
    }
    .hidden-xs-sm{
        display: none !important;
    }
    .visible-xs-sm{
        display: block !important;
    }
    /* #home {
        padding-bottom: 30px;
    } */
    h1.home-title {
        font-size: 70px;
    }
    h3.sect-title {
        font-size: 40px;
        line-height: 46px;
    }
    h4.sect-title {
        font-size: 34px;
        line-height: 36px;
    }
}
@media(max-width: 600px){
    .hidden-xs{
        display: none !important;
    }
    .visible-xs{
        display: block !important;
    }
    .text-center-xs{
        text-align: center;
    }
    .text-justify-xs{
        text-align: justify;
    }
    .inblock-div-xs{
        display: inline-block;
    }
    .pad0-xs{
        padding: 0 !important;
    }

    a.brand-logo img {
        width: auto;
        height: 35px;
        position: relative;
        top: 10px;
    }
    nav .brand-logo{
        left: 0;
        transform: translateX(0);
    }
    nav.scrolled-nav a.brand-logo img {
        width: auto;
        height: 35px;
        top: 10px;
    }
    #home-txt-side {
        position: relative;
        margin-top: 30%;
    }
    h1.home-title {
        font-size: 44px;
        line-height: 50px;
        margin-top: 20px;
    }
    p.home-desc-txt {
        margin: 30px 0;
    }
}
